.input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem 0.5rem;
    gap:2rem;
}
.input input{
    width: 3rem;
    border:inherit;
    border-radius: 0.5rem;
    padding: 0.4rem 0.2rem;
}
.input label{
    display: block;
    align-self: center;
    font-size: 1.25rem;
}