.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.70);
  }

.modal{
        background-color: white;
        width: 40%;
        padding: 2rem ;
        position:absolute;
        left:24rem;
        top:10rem;
        background-color:white;
        border: inherit;
        border-radius: 1rem;
        z-index: 40;
}